<% if @post.errors.any? %>
<ul>
    <%= @post.errors.full_messages.each do |error| %>
    <li>
      <%=error %>
    </li>
</ul>
<% end %>

<%= form_for @post do |f| %>
<%= f.text_field :title,placeholder:"Title" %>
<%= f.text_field :context,placeholder:"Context" %>
<!--<%= f.text_field :slug,placeholder:"Slug" %>-->
<%= f.number_field :rating,placeholder:"Ratings " %>
<%= f.submit "Enter" %>
<% end %>
